@charset "UTF-8";

/*    ––––––––––––––––––––––––––––––––––––––––––––––––––
MARK: 共通
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*color*/
:root {
    --lightyellow: #B3D9FF;
    --lightblue: #D4E8FC;
    --lightgray: #F0F5FA;
    --aqua: #2995CA;
    --black: #2F363D;
    --blue: #0066CC;
    --darkblue: #004A99;
    --skyblue: #4EAEFF;
    --navy: #003366;
}


/* fontsize*/
:root {
    --160px: 10rem;
    --140px: 8.75rem;
    --130px: 8.125rem;
    --120px: 7.5rem;
    --100px: 6.25rem;
    --90px: 5.625rem;
    --80px: 5rem;
    --76px: 4.75rem;
    --72px: 4.5rem;
    --70px: 4.375rem;
    --64px: 4rem;
    --60px: 3.75rem;
    --56px: 3.5rem;
    --54px: 3.375rem;
    --50px: 3.125rem;
    --40px: 2.5rem;
    --38px: 2.375rem;
    --36px: 2.25rem;
    --32px: 2rem;
    --28px: 1.75rem;
    --24px: 1.5rem;
    --22px: 1.375rem;
    --20px: 1.25rem;
    --18px: 1.125rem;
    --16px: 1rem;
    --14px: 0.875rem;
    --12px: 0.75rem;
    --10px: 0.625rem;
}


.xl-pc { display: none !important; }
.xs-sp { display: none !important; }

/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: FV
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#fv {
    background-image: url(../img/fv-bg.jpg);
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px 0 0px !important;
}


#fv .illust {
    margin-top: 30px;
}

#fv .box {
    background-color: var(--white);
    box-shadow: 10px 10px 5px 0px rgba(0,102,204,0.3);
    border-radius: 10px;
    margin: 15px 0 0;
    padding: 5px 30px 30px;
    width: 88%;
}

#fv .box .icon {
    margin: 35px 0 0 0;
}

#fv .box .title {
    color: var(--blue);
    font-weight: bold;
    font-size: var(--32px);
    margin-bottom: -10px;
}

#fv .box .title span {
    font-size: var(--24px);
}

#fv .box .title .en {
    font-size: var(--56px);
    margin: 0 4px;
}

#fv .box p {
    font-size: var(--16px);
    margin-bottom: 0px;
}

#fv .box .meyasu {
    margin-top: 20px;
}

#fv .box .meyasu p {
    font-size: var(--14px);
    font-weight: bold;
    text-align: center;
    background-color: #B3D9FF;
    padding: 3px;
    margin: 0 4px;
    border-radius: 50px;
}


#fv .box .meyasu p .en {
    font-size: var(--20px);
    padding: 0;
}


/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: ご利用企業様のお声ショートver
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#short-voice {
    padding: 60px 0;
}

#short-voice .deco-title {
    color: var(--blue);
    text-align: center;
    font-weight: 600;
    font-size: var(--36px);
    line-height: 1.6;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

#short-voice .deco-title:before {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(../img/sec04-deco01.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-right: 25px;
}

#short-voice .deco-title:after {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(../img/sec04-deco02.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-left: 25px;
}

#short-voice .box {
    background-color: var(--white);
    border-radius: 6px;
    padding: 30px;
}

#short-voice .box p {
    text-align: justify;
    font-weight: 500;
    line-height: 1.65;
    margin-bottom: 0;
    font-size: var(--14px);
}

#short-voice .box .name {
    text-align: center;
    color: var(--blue);
    margin-top: 7px;
}


/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: ベネフィット
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sec01 {
    padding: 50px 0 !important;
}

/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: フローチャット
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sec03 .deco-title {
    color: var(--blue);
    text-align: center;
    font-weight: 600;
    font-size: var(--22px);
    line-height: 1.6;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

#sec03 .deco-title:before {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(../img/sec04-deco01.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-right: 25px;
}

#sec03 .deco-title:after {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(../img/sec04-deco02.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-left: 25px;
}

#sec03 .wrap-r {
    display: flex;
    display: -webkit-flex;
    justify-content: end;
}

#sec03 .wrap-r .icon {
    margin: 0 0 0 15px;
    height: 80px;
    width: 80px;
}

#sec03 .wrap-r .balloon-right {
    background-color: #B3D9FF;
    border-radius: 10px 0 10px 10px;
    padding: 20px;
}

#sec03 .wrap-l {
    display: flex;
    display: -webkit-flex;
}

#sec03 .wrap-l .icon {
    margin: 0 15px 0 0;
    height: 80px;
    width: 80px;
}


#sec03 .balloon-right .name {
    color: var(--blue);
    font-size: var(--14px);
    margin-bottom: 10px;
    font-weight: bold;
}

#sec03 .balloon-right p {
    font-size: var(--14px) !important;
    margin-bottom: 0px;
    font-weight: 500;
}

#sec03 .balloon-right .file {
    background-color: #E8F4FF;
    border-radius: 3px;
    color: var(--blue);
    font-weight: bold;
    font-size: var(--12px) !important;
    padding: 5px 15px;
    margin: 10px 0 0;
}

#sec03 .balloon-right .file img {
    margin: -3px 5px 0 0;
    width: 18px;
}

#sec03 .time-right {
    font-size: var(--12px) !important;
    text-align: right;
    margin: 5px 0 25px;
    font-weight: 500;
}

#sec03 .balloon-left {
    background-color: var(--lightblue);
    border-radius: 0px 10px 10px 10px;
    padding: 20px;
    font-weight: 500;
}


#sec03 .balloon-left .name img {
    width: 140px;
    margin-bottom: 10px !important;
}

#sec03 .balloon-left p {
    font-size: var(--14px) !important;
    font-weight: 500;
    margin-bottom: 0;
}

#sec03 .balloon-left .file {
    background-color: #FBFDFF;
    border-radius: 3px;
    color: var(--aqua);
    font-weight: bold;
    font-size: var(--12px) !important;
    padding: 5px 15px;
    margin: 10px 0 0;
}

#sec03 .balloon-left .file img {
    margin: -3px 5px 0 0;
    width: 18px;
}

#sec03 .time-left {
    font-size: var(--12px) !important;
    margin: 5px 0 25px;
    font-weight: 500;
}

#sec03 .after-late {
    text-align: center;
    font-size: 14px !important;
    font-weight: 500;
}

#sec03 .after-late span {
    background-color: #ECEDEE;
    padding: 5px 30px; 
    border-radius: 20px;
}


/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: 選ばれる理由・利用開始までの流れ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sec03 .deco-title {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: var(--18px);
    line-height: 1.6;
    margin: 40px 0 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

#sec05 .deco-title {
    color: var(--blue);
    text-align: center;
    font-weight: 600;
    font-size: var(--18px);
    line-height: 1.6;
    margin: 30px 0 -10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

#sec08 .deco-title {
    color: var(--blue);
    text-align: center;
    font-weight: 600;
    font-size: var(--18px);
    line-height: 1.6;
    margin: 60px 0 -20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

#sec03 .deco-title:before {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(../img/sec03-deco01.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-right: 25px;
}


#sec03 .deco-title:after {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(../img/sec03-deco02.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-left: 25px;
}

#sec05 .deco-title:before,#sec08 .deco-title:before {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(../img/sec04-deco01.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-right: 25px;
}


#sec05 .deco-title:after,#sec08 .deco-title:after {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(../img/sec04-deco02.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-left: 25px;
}

/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: アウトプット
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#output {
    background: linear-gradient(90deg, rgba(78,174,255,1) 0%, rgba(0,102,204,1)100%);
    /*padding: 120px 100px;*/
    padding: 120px 4%;
}



#output h2 {
    color: #b3d9ff81;
    font-size: var(--130px);
    font-family: "DM Sans", sans-serif;
    letter-spacing: 0.4rem;
    font-weight: 900;
    line-height: 0.35;
    margin-bottom: 30px;
}

#output h2 strong {
    color: #fff;
    font-size: var(--32px);
    letter-spacing: 0.05rem;
    font-weight: bold;
}

#output .col-lg-3 {
    display: flex;
    flex-direction: column;
}

#output .balloon {
    text-align: center;
    font-size: var(--22px);
    border-radius: 6px;
    font-weight: bold;
    background: var(--black);
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 10px 10px 20px;
    width: 100%;
}

#output .balloon-two {
    padding: 25px 10px 35px;
}

#output .balloon:before {
    content: "";
  position: absolute;
  top: 99%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid var(--black);
}

#output .balloon p {
    color: #B3D9FF;
    font-size: var(--22px);
    margin-bottom: 0;
    line-height: 1.4;
}

#output .box {
    background-color: #fff;
    border-radius: 6px;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#output .box img {
    border-radius: 6px 6px 0 0;
}

#output .box .meyasu {
    position: absolute;
    background-color: #B3D9FF;
    top: 15px;
    left: 15px;
    font-size: var(--14px);
    font-weight: bold;
    padding: 1px 10px 3px;
    border-radius: 20px;
}

#output .box .meyasu .en {
    font-size: var(--20px);
}

#output .box .meyasu img {
    margin: -3px 5px 0 0;
    width: 20px;
}

#output .box .docs {
    padding: 40px;
    margin-top: auto;
}

#output .box h4 {
    text-align: center;
    color: var(--blue);
    font-weight: bold;
    line-height: 1.5;
    font-size: var(--18px);
}

#output .box .btn {
    background-color: #fff;
    border: solid 2px var(--blue);
    color: var(--blue);
    font-size: var(--14px);
    padding: 25px 25px 25px 3px;
    width: 100%;
    margin-bottom: 15px;
    transition: 0.5s;
    letter-spacing: 0.05rem;
}

#output .box .btn:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    right: 8px;
    margin-top: -4px;
    background-image: url(../img/btn-icon-arrow02.png);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    transition: 0.5s;
}


#output .box .btn:hover {
    border: solid 2px var(--darkblue);
    color: var(--darkblue);
}

#output .box .link {
    text-align: center;
    color: var(--blue);
    text-decoration: underline;
    font-weight: bold;
    font-size: var(--16px);
    display: block;
    transition: 0.5s;
}

#output .box .link:hover {
    color: var(--darkblue);
}

#output .box .btn:hover:after {
    background-image: url(../img/btn-icon-arrow03.png);
}

/*ポップアップ表示*/
.modaal-container {
    border-radius: 6px;
}

.modaal-content-container {
    max-width: 800px;
    margin: 0 auto;
}

.modaal-content-container h3  {
    text-align: left;
    color: var(--blue);
    font-size: var(--24px);
    padding-bottom: 15px;
    border-bottom: solid 1px #AEBAC6;
}

.modaal-content-container h3:after {
    width: 0px;
}

.modaal-content-container .caption {
    color: var(--black);
    margin: 10px 0 60px;
}

.modaal-content-container .inline_close img {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 1s;
    z-index: 10;
}

.modaal-content-container .border {
    border: solid 1px #AEBAC6;
    margin-bottom: 60px;
}



/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: メリット
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sec07 {
    background-color: var(--lightgray) !important; 
}

#sec07 .fix .box {
    background-color: var(--white);
}

#sec07 .js-scrollable tbody td, #sec07 .js-scrollable tbody .ai {
    background-color: var(--white) !important;
}

#sec07 .js-scrollable tbody .cost td {
    font-size: var(--16px) !important;
    font-weight: 500  !important;
    letter-spacing: 0.05rem !important;
}

#sec07 .js-scrollable tbody .cost td .en {
    font-size: var(--18px) !important;
    letter-spacing: 0.05rem;
}

#sec07 .js-scrollable tbody tr:last-child .ai {
    font-weight: bold !important;
}


/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: ご利用の流れ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sec08 {
    background-color: var(--white) !important;
}

#sec08 .fix .box {
        background-color: var(--lightgray);
}


/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: ご利用企業様の声
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#voice {
    padding: 120px 15px;
}

#voice .box {
    background-color: var(--white);
    border-radius: 6px;
    padding: 40px;
    margin: 0  auto 25px;
    max-width: 800px;
}

#voice .box p {
    text-align: justify;
}

#voice .box img {
    margin-top: 20%;
    width: 150px;
}

#voice .box .name {
    color: var(--blue);
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}


/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: レスポンシブ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*1700px以下*/
@media ( max-width:1700px) {
#short-voice .col-lg-3 {
    flex: 0 0 33%;
    max-width: 33%;
}

#sec01 .col-lg-2 {
    flex: 0 0 20%;
    max-width: 20%;
}
}

/*1500px以下*/
@media ( max-width:1500px) {
            /*  –––––––––––––––––––––––––––––––––––––––––––––––
MARK: FV
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#fv .box {
    width: 100%;
}

/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: アウトプット
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#output .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
}
}

/*1500px以下992px以上*/
@media screen and ( max-width:1500px)  and (min-width:992px) {
.xl-pc { display: block !important; }
/*  –––––––––––––––––––––––––––––––––––––––––––––––
MARK: FV
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#fv .box p {
    font-size: var(--14px);
}

    
/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: ご利用企業様のお声ショートver
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#short-voice .col-lg-3 {
    flex: 0 0 33%;
    max-width: 33%;
}
}

/*1300px以下*/
@media ( max-width:1300px) {
/*  –––––––––––––––––––––––––––––––––––––––––––––––
MARK: FV
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#fv .box .meyasu p {
    font-size: var(--12px);
}
#fv .box .meyasu p .en {
    font-size: var(--18px);
}
}

/*1279px以下1200px以上*/
@media screen and (max-width: 1279px) and (min-width: 992px) {
#sec01 .col-lg-2 {
    flex: 0 0 20%;
    max-width: 20%;
}
}

/*1200px以下992px以上*/
@media screen and ( max-width:1200px)  and (min-width:992px) {
        #fv .box {
    margin: 40px 0 25px;
    padding: 6% 30px 30px;
    position: relative;
    text-align: center;
    width: 100%;
}
#fv .box .col-md-5 {
    position: absolute;
    top: -25%;
    right: 0;
    left: 0;
    margin: 0 auto 10px;
    width: 35%;
}

#fv .col-md-7 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    #sec01 p {
        font-size: var(--16px) !important;
    }
}



/*992px以下*/
@media  ( max-width:991px){
/*  –––––––––––––––––––––––––––––––––––––––––––––––
MARK: FV
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#fv {
    background-image: url(../img/fv-bg-sp.jpg);
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#fv .box {
    width: 100%;
}

#fv .box p {
    text-align: left;
}

#fv .box .meyasu {
    margin-top: 30px;
}

/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: ご利用企業様のお声ショートver
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#short-voice .deco-title {
    margin-bottom: 60px;
}

#short-voice .icon {
    margin: -65px auto 3px;
    width: 120px;
}

#short-voice .box {
    margin-bottom: 45px;
    padding: 40px;
}

#short-voice .box .name {
    margin-bottom: 10px;
    font-weight: bold;
}

#short-voice .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
}

#sec01 .col-lg-2 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}


/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: フローチャット
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sec03 .wrap-r .balloon-right p {
    text-align: left;
    margin-bottom: 10px;
}
#sec03 .wrap-l .balloon-left p {
    text-align: left;
    margin-bottom: 10px;
}

/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: アウトプット
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#output {
    padding: 120px 15px 100px;
}
#output .box .docs {
    padding: 40px 25px;
}

/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: ご利用企業様の声
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#voice {
    padding: 120px 15px 80px;
}

#voice h2 {
    margin-bottom: 60px;
}

#voice .box {
    padding: 40px;
    margin: 0 auto 50px;
}

#voice .box img {
    margin: -65px auto 2px;
    width: 120px;
}
}

/*768px以下600px以上*/
@media screen and (max-width: 768px) and (min-width: 601px) {
    #fv .inner {
        max-width: 650px !important;
        position: inherit;
    }
}


/*992px以下768以上*/
@media screen and (max-width: 992px) and (min-width: 769px){
/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: 選ばれる理由・利用開始までの流れ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sec05 .deco-title {
    margin: 30px 0;
}

#sec08 .deco-title {
    color: var(--blue);
    margin: 60px 0 -10px;
}
}

/*768px以下*/
@media (max-width: 768px) {

/*  –––––––––––––––––––––––––––––––––––––––––––––––
MARK: FV
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#fv {
    padding: 0 !important;
}

#fv .col-md-7 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    #fv .logo {
        padding: 0 20px;
    }

    #fv .box {
    margin: 70px 0 25px;
    padding: 12% 30px 20px;
    position: relative;
}

#fv .box p {
    line-height: 1.5;
}

#fv .box .icon {
    margin: 0;
}


#fv .box .title {
    margin-bottom: -5px;
    text-align: center;
    font-size: var(--32px) !important;
}

#fv .box .title span {
    font-size: var(--24px);
}

#fv .box p {
    text-align: center;
    font-size: var(--14px);
}

#fv .col-lg-6 {
    padding: 5px;
}

#fv .box .col-md-5 {
    position: absolute;
    top: -11%;
    right: 0;
    left: 0;
    margin: 0 auto 10px;
    width: 35%;
}

    #fv .box .meyasu {
        margin-top: 20px;
    }

#fv .box .meyasu p .en {
    font-size: var(--18px);
}

#fv .box .meyasu p {
    font-size: var(--12px);
    padding: 3px;
    margin: 0 4px 12px;
}



/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: ご利用企業様のお声ショートver
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#short-voice {
    padding: 60px 0 20px;
}

#short-voice .deco-title {
    font-size: var(--22px);
    margin-bottom: 40px;
}

#short-voice .deco-title:after {
    width: 25px;
    height: 25px;
    margin-left: 8px;
}

#short-voice .deco-title:before {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

#short-voice .icon {
    margin: -65px auto 3px;
    width: 100px;
}

#short-voice .box {
    margin-bottom: 45px;
    padding: 40px 25px 25px;
}

#short-voice .box .name {
    margin-bottom: 10px;
    font-weight: bold;
}


#sec01 .col-lg-2 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: フローチャット
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sec03 .deco-title {
    font-size: var(--18px);
    margin-bottom: 10px !important;
}

#sec03 .deco-title:before {
    width: 25px;
    height: 25px;
    margin-right: 12px;
}

#sec03 .deco-title:after {
    width: 25px;
    height: 25px;
    margin-left: 12px;
}

    #sec03 .box h3 {
        line-height: 1.6;
        margin-bottom: 60px !important;
    }

    #sec03 .wrap-r .icon {
    margin: 0 0 0 15px !important;
    height: 50px;
    width: 50px;
}

#sec03 .wrap-r .balloon-right {
    padding: 15px;
}

#sec03 .wrap-r .balloon-right p {
    text-align: left;
    margin-bottom: 10px;
}

#sec03 .balloon-right .file {
    margin: 10px 0 0 !important;
}

#sec03 .balloon-left .file {
    margin: 10px 0 0 !important;
}

#sec03 .time-right {
    margin: 5px 0 20px !important;
}

#sec03 .wrap-l .balloon-left {
    padding: 15px;
}

#sec03 .wrap-l .icon {
    margin: 0 15px 0 0px !important;
    height: 50px;
    width: 50px;
}

#sec03 .wrap-l .balloon-left p {
    text-align: left;
    margin-bottom: 10px;
}

#sec03 .balloon-left .name img {
    margin-bottom: 0px !important;
}

#sec03 .time-left {
    text-align: left;
    margin: 5px 0 20px !important;

}

#sec03 .after-late {
    margin-bottom: 30px !important;
}

/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: アウトプット
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#output {
    background: linear-gradient(0deg, rgba(78, 174, 255, 1) 0%, rgba(0, 102, 204, 1) 100%);
    padding: 100px 25px 60px;
}

#output h2 {
    font-size: var(--64px);
    margin-bottom: 10px;
    letter-spacing: 0.1rem;
    line-height: 0.55;
}
#output h2 strong {
    font-size: var(--28px);
}

#output .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
}

#output .balloon {
    margin: 45px 0px 25px;
}

#output .balloon p {
    font-size: var(--20px);
    line-height: 1.5;
}

#output .balloon-two {
    padding: 10px 10px 20px;
}

#output .box h4 {
    font-size: var(--16px);
    margin-bottom: 20px;
}

#output .box p {
    font-size: var(--14px);
    margin-bottom: 20px;
}

#output .box .docs {
    padding: 40px 25px;
}

#output .box .btn {
    padding: 12px 5px 15px;
    margin-bottom: 25px;
}

#output .box .btn:after {
    width: 25px;
    height: 25px;
    margin-top: -13px;
}

/*ポップアップ*/
.modaal-content-container h3 {
    font-size: var(--16px);
    line-height: 1.5;
}

.modaal-content-container {
    padding: 15px;
}

.modaal-content-container .inline_close img {
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
}

.modaal-content-container .caption {
    font-size: var(--14px);
    margin: 10px 0 40px;
}

.modaal-content-container .border {
    margin-bottom: 40px;
}

/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: 選ばれる理由
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    #sec05 h2 {
        letter-spacing: 0.1rem !important;
    }



/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: 選ばれる理由・利用開始までの流れ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sec03 .deco-title {
    font-size: var(--16px);
    margin: 40px 0 20px;
}

#sec05 .deco-title {
    font-size: var(--16px);
    margin: 30px 0;
}

#sec08 .deco-title {
    color: var(--blue);
    font-size: var(--16px);
    margin: 60px 0 -10px;
}

#sec03 .deco-title:before {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}


#sec03 .deco-title:after {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

#sec05 .deco-title:before,#sec08 .deco-title:before {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}


#sec05 .deco-title:after,#sec08 .deco-title:after {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}


/*    –––––––––––––––––––––––––––––––––––––––––––––––
MARK: ご利用企業様の声
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#voice {
    padding: 80px 15px 30px;
}

#voice h2 {
    margin-bottom: 60px;
}

#voice .box {
    padding: 40px 25px 15px;
    margin: 0 auto 50px;
}

#voice .box img {
    margin: -65px auto 2px;
    width: 100px;
}

#voice .box p {
    font-size: var(--14px);
}
}

/*550px以下*/
@media (max-width: 550px) {
/*  –––––––––––––––––––––––––––––––––––––––––––––––
MARK: FV
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    #fv .logo {
        padding: 0 20px;
    }

    #fv .box {
    margin: 45px 0 25px;
    padding: 13% 30px 10px;
    position: relative;
}

#fv .box p {
    line-height: 1.5;
}

#fv .box .icon {
    margin: 20px 0 0 0;
}


#fv .box .title {
    margin-bottom: -5px;
    text-align: center;
}

#fv .box .title span {
    font-size: var(--22px);
}

#fv .box .title .en {
    font-size: var(--50px);
}

#fv .box p {
    text-align: center;
    font-size: var(--14px);
}

#fv .col-lg-6 {
    padding: 5px;
}

#fv .box .col-md-5 {
    position: absolute;
    top: -55px;
    right: 0;
    left: 0;
    margin: 0 auto 10px;
    width: 180px;
}

    #fv .box .meyasu {
        margin-top: 20px;
    }

#fv .box .meyasu p .en {
    font-size: var(--18px);
}

#fv .box .meyasu p {
    font-size: var(--12px);
    padding: 3px;
    margin: 0 4px 12px;
}

/*  –––––––––––––––––––––––––––––––––––––––––––––––
MARK: アウトプット
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#output {
    background: linear-gradient(0deg, rgba(78, 174, 255, 1) 0%, rgba(0, 102, 204, 1) 100%);
    padding: 100px 5px 60px;
}
}


/*350px以下*/
@media (max-width: 350px) {
        .xs-sp { 
        display: block !important; 
    }
/*  –––––––––––––––––––––––––––––––––––––––––––––––
MARK: FV
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    #fv .box {
        margin: 35px 0 25px;
        padding: 20% 15px 10px;
    }
        #fv .box .icon {
        margin: 30px 0 0 0;
    }

}